<a href="{{ '/' | relative_url }}" class="sidebar-logo">
    <h1 class="gothic-header pink sidebar-title">goth</h1>
</a>

<div class="frame collapsible">
    <details>
        <summary class="gothic-header pink">hot topics</summary>
        <ul class="menu">
            {% for post in site.posts limit:5 %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </details>
</div>

<div class="frame collapsible">
    <details>
        <summary class="gothic-header pink">reference</summary>
        <ul class="menu">
            <li><a href="{{ '/reference/literals/' | relative_url }}">literals</a></li>
            <li><a href="{{ '/reference/variables/' | relative_url }}">variables</a></li>
            <li><a href="{{ '/reference/functions/' | relative_url }}">functions</a></li>
            <li><a href="{{ '/reference/operators/' | relative_url }}">operators</a></li>
            <li><a href="{{ '/reference/data-structures/' | relative_url }}">data structures</a></li>
            <li><a href="{{ '/reference/pattern-matching/' | relative_url }}">pattern matching</a></li>
            <li><a href="{{ '/reference/types/' | relative_url }}">types</a></li>
            <li><a href="{{ '/reference/contracts/' | relative_url }}">contracts</a></li>
            <li><a href="{{ '/reference/control-flow/' | relative_url }}">control flow</a></li>
            <li><a href="{{ '/reference/primitives/' | relative_url }}">primitives</a></li>
            <li><a href="{{ '/reference/advanced/' | relative_url }}">advanced</a></li>
        </ul>
    </details>
</div>

<div class="frame lower-links">
    <div class="mascot-container">
        <img src="{{ '/assets/images/header-pink-transparent.png' | relative_url }}" alt="Goth Language Mascot" class="mascot">
    </div>
    <h2 class="gothic-header pink small"><a href="{{ '/about' | relative_url }}">about</a></h2>
    <h2 class="gothic-header pink small"><a href="{{ site.github_repo }}">github</a></h2>
</div>
